# Project 1

Create code to answer each of the following questions.

> Project Description/Outline: This project will look at the data on the average cost of college in the US by state, type of institution, and year (3-5 year span). Provide a deeper understanding on financials of undergraduate education across the US. Research Questions to Answer:

*Top 5 best schools for funding (most expensive) /year
*Top 5 best schools for funding (most expensive) by state /year
*Top 5 lowest schools for funding (least expensive) /year
*Top 5 lowest schools for funding (least expensive) by state/year
*Looking for schools by state within specific ranges (small, med, large)
*Looking for type of school (private / public-in-state/ public-out-state
*Difference between 2 & 4 year
*What schools offers certain fundings (scholarships, state or federal fundings)
*Did COVID-19 has an effect on the fees
*See the year to year increase

In [1]:
#Importing Dependencies:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import plotly.express as px
import plotly.figure_factory as ff
import plotly.graph_objects as go
#import missingno as msno
#Styling :
%matplotlib inline
sns.set_theme(style="dark")
plt.rcParams['figure.figsize'] = [30, 7] 
mpl.rcParams['axes.unicode_minus'] = False
pd.set_option('display.max_columns',None)
plt.style.use('seaborn-dark-palette')
plt.style.use('dark_background')
# Import the API key
from config import geoapify_key

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
# comment out

In [ ]:
#Reading data :
edu_df = pd.read_csv("/Users/debralisa3/Downloads/4-1-2023---430/Data_4-1-2023---430.csv")

In [ ]:
edu_df.head(20)

,Institution,Average net price-students awarded grant or scholarship aid 2020-21,Average net price-students awarded grant or scholarship aid 2019-20,Average net price-students awarded grant or scholarship aid 2018-19,State abbreviation,Sector of institution,Level of institution,Degree-granting status,Institution size category,Institution name,Longitude location of institution,Latitude location of institution,Total price for in-state students living on campus 2021-22,Total price for out-of-state students living on campus 2021-22,Total price for in-state students living off campus (not with family) 2021-22,Total price for out-of-state students living off campus (not with family) 2021-22,Total price for in-state students living off campus (with family) 2021-22,Total price for out-of-state students living off campus (with family) 2021-22,Total price for in-state students living on campus 2020-21,Total price for out-of-state students living on campus 2020-21,Total price for in-state students living off campus (not with family) 2020-21,Total price for out-of-state students living off campus (not with family) 2020-21,Total price for in-state students living off campus (with family) 2020-21,Total price for out-of-state students living off campus (with family) 2020-21,Average net price-students awarded grant or scholarship aid 2017-18,Average net price-students awarded grant or scholarship aid 2016-17,Total price for in-state students living on campus 2019-20,Total price for out-of-state students living on campus 2019-20,Total price for in-state students living off campus (not with family) 2019-20,Total price for out-of-state students living off campus (not with family) 2019-20,Total price for in-state students living off campus (with family) 2019-20,Total price for out-of-state students living off campus (with family) 2019-20,Average net price-students awarded grant or scholarship aid 2015-16,Total price for in-state students living on campus 2018-19,Total price for out-of-state students living on campus 2018-19,Total price for in-state students living off campus (not with family) 2018-19,Total price for out-of-state students living off campus (not with family) 2018-19,Total price for in-state students living off campus (with family) 2018-19,Total price for out-of-state students living off campus (with family) 2018-19,Total price for in-state students living on campus 2017-18,Total price for out-of-state students living on campus 2017-18,Total price for in-state students living off campus (not with family) 2017-18,Total price for out-of-state students living off campus (not with family) 2017-18,Total price for in-state students living off campus (with family) 2017-18,Total price for out-of-state students living off campus (with family) 2017-18,Total price for in-state students living on campus 2016-17,Total price for out-of-state students living on campus 2016-17,Total price for in-state students living off campus (not with family) 2016-17,Total price for out-of-state students living off campus (not with family) 2016-17,Total price for in-state students living off campus (with family) 2016-17,Total price for out-of-state students living off campus (with family) 2016-17,Books and supplies 2021-22,Books and supplies 2020-21,Books and supplies 2019-20,Books and supplies 2018-19,Books and supplies 2017-18,Books and supplies 2016-17,Books and supplies 2015-16,Unnamed: 58
0,Aaniiih Nakoda College,8381.0,7777.0,7472.0,MT,1,1,1,1,Aaniiih Nakoda College,-108.757816,48.484196,NaN,NaN,17030.0,17030.0,8510.0,8510.0,NaN,NaN,17030.0,17030.0,8510.0,8510.0,NaN,NaN,NaN,NaN,17030.0,17030.0,8510.0,8510.0,6497.0,NaN,NaN,17030.0,17030.0,8510.0,8510.0,NaN,NaN,17030.0,17030.0,8510.0,8510.0,NaN,NaN,17030.0,17030.0,8510.0,8510.0,1300.0,1300.0,1300.0,1300.0,1300.0,1300.0,1300.0,NaN
1,Abilene Christian University-Undergraduate Online,NaN,NaN,NaN,TX,2,1,1,1,Abilene Christian University-Undergraduate Online,-96.826833,32.977065,NaN,NaN,30670.0,30670.0,19042.0,19042.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1250.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Abraham Baldwin Agricultural College,7744.0,8106.0,6823.0,GA,1,1,1,2,Abraham Baldwin Agricultural College,-83.528281,31.481889,15727.0,22633.0,13965.0,20871.0,7765.0,14671.0,15575.0,22481.0,13865.0,20771.0,7665.0,14571.0,NaN,NaN,15479.0,22385.0,13865.0,20771.0,7665.0,14571.0,8123.0,15345.0,22083.0,13803.0,20541.0,7603.0,14341.0,15121.0,21859.0,13803.0,20541.0,7603.0,14341.0,15025.0,21632.0,14053.0,20660.0,7653.0,14260.0,1000.0,900.0,900.0,900.0,900.0,1000.0,1000.0,NaN
3,Academy College,NaN,NaN,NaN,MN,3,1,1,1,Academy College,-93.299809,44.855722,NaN,NaN,38118.0,38118.0,29579.0,29579.0,NaN,NaN,38182.0,38182.0,29643.0,29643.0,23841.0,NaN,NaN,NaN,37509.0,37509.0,28970.0,28970.0,NaN,NaN,NaN,36902.0,36902.0,28363.0,28363.0,NaN,NaN,36902.0,36902.0,28363.0,28363.0,NaN,NaN,36650.0,36650.0,28111.0,28111.0,1685.0,1694.0,1269.0,1452.0,1452.0,1452.0,1452.0,NaN
4,Academy of Interactive Entertainment,NaN,NaN,NaN,LA,5,2,1,1,Academy of Interactive Entertainment,-92.043315,30.220037,NaN,NaN,36621.0,36621.0,27513.0,27513.0,NaN,NaN,37522.0,37522.0,27142.0,27142.0,23807.0,24970.0,NaN,NaN,36522.0,36522.0,26142.0,26142.0,NaN,NaN,NaN,34113.0,34113.0,26769.0,26769.0,NaN,NaN,31113.0,31113.0,23769.0,23769.0,NaN,NaN,34580.0,34580.0,20550.0,20550.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
5,Advanced Technology Institute,NaN,NaN,NaN,VA,6,2,1,1,Advanced Technology Institute,-76.182268,36.841381,NaN,NaN,25933.0,25933.0,17263.0,17263.0,NaN,NaN,25656.0,25656.0,16986.0,16986.0,18999.0,19435.0,NaN,NaN,25656.0,25656.0,16986.0,16986.0,NaN,NaN,NaN,25656.0,25656.0,16986.0,16986.0,NaN,NaN,25706.0,25706.0,17036.0,17036.0,NaN,NaN,25610.0,25610.0,17360.0,17360.0,480.0,480.0,480.0,480.0,480.0,480.0,450.0,NaN
6,Agape College of Business and Science,NaN,NaN,NaN,CA,5,2,1,1,Agape College of Business and Science,-119.787874,36.741252,NaN,NaN,27396.0,27396.0,9868.0,9868.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1163.0,1163.0,1083.0,1083.0,NaN,NaN,NaN,NaN
7,Aiken Technical College,4033.0,4362.0,3525.0,SC,4,2,1,2,Aiken Technical College,-81.841666,33.533833,NaN,NaN,16956.0,18530.0,10206.0,11780.0,NaN,NaN,16956.0,18530.0,10206.0,11780.0,NaN,NaN,NaN,NaN,16836.0,18530.0,10086.0,11780.0,3411.0,NaN,NaN,13116.0,14950.0,9516.0,11350.0,NaN,NaN,13028.0,15030.0,8828.0,10830.0,NaN,NaN,12308.0,14234.0,8708.0,10634.0,1500.0,1500.0,1500.0,1000.0,1000.0,1000.0,1000.0,NaN
8,Aims Community College,8058.0,7189.0,6812.0,CO,4,2,1,3,Aims Community College,-104.763415,40.409559,NaN,NaN,21446.0,29102.0,9574.0,17230.0,NaN,NaN,21446.0,29102.0,9493.0,17149.0,NaN,NaN,NaN,NaN,20134.0,27790.0,9493.0,17149.0,6216.0,NaN,NaN,19819.0,27487.0,9333.0,17001.0,NaN,NaN,19819.0,27487.0,9333.0,17001.0,NaN,NaN,18055.0,25723.0,8929.0,16597.0,1475.0,1475.0,1475.0,1475.0,1475.0,1475.0,1475.0,NaN
9,Alamance Community College,17040.0,15521.0,16225.0,NC,4,2,1,2,Alamance Community College,-79.357657,36.066683,NaN,NaN,26901.0,33045.0,16419.0,22563.0,NaN,NaN,32421.0,38565.0,16971.0,23115.0,NaN,NaN,NaN,NaN,29403.0,33939.0,16457.0,20993.0,9612.0,NaN,NaN,26131.0,31123.0,17551.0,22543.0,NaN,NaN,21128.0,26120.0,11411.0,16403.0,NaN,NaN,22800.0,28680.0,13393.0,19273.0,4456.0,2960.0,3114.0,4286.0,2615.0,3929.0,2874.0,NaN
10,Alaska Bible College,NaN,NaN,NaN,AK,2,1,1,1,Alaska Bible College,-149.111972,61.598553,20856.0,20856.0,26314.0,26314.0,16146.0,16146.0,19471.0,19471.0,25174.0,25174.0,15030.0,15030.0,19746.0,14477.0,20278.0,20278.0,25450.0,25450.0,14478.0,14478.0,NaN,19980.0,19980.0,25022.0,25022.0,14280.0,14280.0,19654.0,19654.0,24509.0,24509.0,13954.0,13954.0,19560.0,19560.0,24297.0,24297.0,13860.0,13860.0,400.0,400.0,400.0,600.0,600.0,600.0,600.0,NaN
11,Alaska Christian College,NaN,NaN,NaN,AK,5,2,1,1,Alaska Christian College,-151.136005,60.490459,22344.0,22344.0,23491.0,23491.0,10994.0,10994.0,22344.0,22344.0,23491.0,23491.0,10994.0,10994.0,6962.0,4981.0,21969.0,21969.0,23291.0,23291.0,10794.0,10794.0,NaN,21594.0,21594.0,23091.0,23091.0,10594.0,10594.0,20544.0,20544.0,22291.0,22291.0,9794.0,9794.0,20094.0,20094.0,22091.0,22091.0,9594.0,9594.0,80.0,80.0,80.0,80.0,80.0,80.0,80.0,NaN
12,Albany Technical College,7844.0,479.0,88.0,GA,4,2,1,2,Albany Technical College,-84.174284,31.554340,NaN,NaN,14251.0,16651.0,9220.0,11620.0,NaN,NaN,17113.0,19513.0,10133.0,12533.0,NaN,NaN,NaN,NaN,9993.0,12393.0,5343.0,7743.0,449.0,NaN,NaN,9709.0,11845.0,5059.0,7195.0,NaN,NaN,9709.0,11845.0,5059.0,7195.0,NaN,NaN,9225.0,11365.0,4997.0,7137.0,410.0,694.0,800.0,800.0,800.0,800.0,800.0,NaN
13,Albion College,NaN,NaN,NaN,MI,2,1,1,2,Albion College,-84.745639,42.245049,66970.0,66970.0,66970.0,66970.0,55090.0,55090.0,64655.0,64655.0,64655.0,64655.0,52775.0,52775.0,17663.0,19913.0,62155.0,62155.0,62155.0,62155.0,50275.0,50275.0,NaN,59470.0,59470.0,59470.0,59470.0,47590.0,47590.0,56750.0,56750.0,56750.0,56750.0,45020.0,45020.0,54150.0,54150.0,54150.0,54150.0,42860.0,42860.0,700.0,700.0,700.0,700.0,700.0,700.0,800.0,NaN
14,Alexandria Technical & Community College,13189.0,12976.0,13175.0,MN,4,2,1,2,Alexandria Technical & Community College,-95.372369,45.873107,NaN,NaN,19768.0,19768.0,14306.0,14306.0,NaN,NaN,19453.0,19453.0,14045.0,14045.0,NaN,NaN,NaN,NaN,19065.0,19065.0,13865.0,13865.0,13235.0,NaN,NaN,18916.0,18916.0,13716.0,13716.0,NaN,NaN,18910.0,18910.0,13710.0,13710.0,NaN,NaN,18858.0,18858.0,13658.0,13658.0,1200.0,1200.0,1200.0,1200.0,1200.0,1200.0,1200.0,NaN
15,Alice Lloyd College,NaN,NaN,NaN,KY,2,1,1,1,Alice Lloyd College,-82.875068,37.335087,28120.0,28120.0,24480.0,24480.0,20630.0,20630.0,28120.0,28120.0,24480.0,24480.0,20630.0,20630.0,15120.0,14075.0,25890.0,25890.0,22480.0,22480.0,18630.0,18630.0,NaN,24290.0,24290.0,21800.0,21800.0,17950.0,17950.0,24290.0,24290.0,21800.0,21800.0,17950.0,17950.0,24290.0,24290.0,21800.0,21800.0,17950.0,17950.0,1400.0,1400.0,1400.0,1400.0,1400.0,1400.0,1500.0,NaN
16,Allan Hancock College,6629.0,5520.0,6225.0,CA,4,2,1,3,Allan Hancock College,-120.421144,34.943716,NaN,NaN,23285.0,29981.0,7032.0,13728.0,NaN,NaN,23011.0,29305.0,6431.0,12725.0,NaN,NaN,NaN,NaN,22403.0,28555.0,7319.0,13471.0,5387.0,NaN,NaN,21296.0,26728.0,7517.0,12949.0,NaN,NaN,20732.0,26164.0,7580.0,13012.0,NaN,NaN,18734.0,24138.0,7358.0,12762.0,1125.0,1971.0,1971.0,1917.0,1854.0,1746.0,1746.0,NaN
17,Allegany College of Maryland,8472.0,9772.0,9155.0,MD,4,2,1,2,Allegany College of Maryland,-78.730398,39.652152,24480.0,26490.0,24480.0,26490.0,13680.0,15690.0,24434.0,26444.0,24434.0,26444.0,13634.0,15644.0,NaN,NaN,24224.0,26144.0,24224.0,26144.0,13424.0,15344.0,9804.0,23636.0,25346.0,23636.0,25346.0,12836.0,14546.0,23144.0,24524.0,23144.0,24524.0,12404.0,13784.0,22738.0,24088.0,22738.0,24088.0,11998.0,13348.0,1540.0,1484.0,1540.0,1540.0,1624.0,1512.0,1428.0,NaN
18,Allegheny College,NaN,NaN,NaN,PA,2,1,1,2,Allegheny College,-80.147168,41.648690,69450.0,69450.0,66950.0,66950.0,56030.0,56030.0,67560.0,67560.0,63560.0,63560.0,54480.0,54480.0,25880.0,25415.0,65400.0,65400.0,62900.0,62900.0,52760.0,52760.0,NaN,63180.0,63180.0,60680.0,60680.0,51040.0,51040.0,61120.0,61120.0,58620.0,58620.0,49470.0,49470.0,58920.0,58920.0,56420.0,56420.0,47750.0,47750.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,NaN
19,Allegheny Wesleyan College,NaN,NaN,NaN,OH,2,1,1,1,Allegheny Wesleyan College,-80.861232,40.867220,14612.0,14612.0,15270.0,15270.0,11220.0,11220.0,14612.0,14612.0,15270.0,15270.0,11220.0,11220.0,8801.0,5450.0,14412.0,14412.0,13340.0,13340.0,10860.0,10860.0,NaN,14412.0,14412.0,13340.0,13340.0,10860.0,10860.0,12412.0,12412.0,11340.0,11340.0,8860.0,8860.0,12412.0,12412.0,11340.0,11340.0,8860.0,8860.0,800.0,800.0,800.0,800.0,800.0,800.0,800.0,NaN

In [ ]:
edu_clean_df = edu_df.drop(columns=['Institution name'])
edu_clean_df.head(10)

,Institution,Average net price-students awarded grant or scholarship aid 2020-21,Average net price-students awarded grant or scholarship aid 2019-20,Average net price-students awarded grant or scholarship aid 2018-19,State abbreviation,Sector of institution,Level of institution,Degree-granting status,Institution size category,Longitude location of institution,Latitude location of institution,Total price for in-state students living on campus 2021-22,Total price for out-of-state students living on campus 2021-22,Total price for in-state students living off campus (not with family) 2021-22,Total price for out-of-state students living off campus (not with family) 2021-22,Total price for in-state students living off campus (with family) 2021-22,Total price for out-of-state students living off campus (with family) 2021-22,Total price for in-state students living on campus 2020-21,Total price for out-of-state students living on campus 2020-21,Total price for in-state students living off campus (not with family) 2020-21,Total price for out-of-state students living off campus (not with family) 2020-21,Total price for in-state students living off campus (with family) 2020-21,Total price for out-of-state students living off campus (with family) 2020-21,Average net price-students awarded grant or scholarship aid 2017-18,Average net price-students awarded grant or scholarship aid 2016-17,Total price for in-state students living on campus 2019-20,Total price for out-of-state students living on campus 2019-20,Total price for in-state students living off campus (not with family) 2019-20,Total price for out-of-state students living off campus (not with family) 2019-20,Total price for in-state students living off campus (with family) 2019-20,Total price for out-of-state students living off campus (with family) 2019-20,Average net price-students awarded grant or scholarship aid 2015-16,Total price for in-state students living on campus 2018-19,Total price for out-of-state students living on campus 2018-19,Total price for in-state students living off campus (not with family) 2018-19,Total price for out-of-state students living off campus (not with family) 2018-19,Total price for in-state students living off campus (with family) 2018-19,Total price for out-of-state students living off campus (with family) 2018-19,Total price for in-state students living on campus 2017-18,Total price for out-of-state students living on campus 2017-18,Total price for in-state students living off campus (not with family) 2017-18,Total price for out-of-state students living off campus (not with family) 2017-18,Total price for in-state students living off campus (with family) 2017-18,Total price for out-of-state students living off campus (with family) 2017-18,Total price for in-state students living on campus 2016-17,Total price for out-of-state students living on campus 2016-17,Total price for in-state students living off campus (not with family) 2016-17,Total price for out-of-state students living off campus (not with family) 2016-17,Total price for in-state students living off campus (with family) 2016-17,Total price for out-of-state students living off campus (with family) 2016-17,Books and supplies 2021-22,Books and supplies 2020-21,Books and supplies 2019-20,Books and supplies 2018-19,Books and supplies 2017-18,Books and supplies 2016-17,Books and supplies 2015-16,Unnamed: 58
0,Aaniiih Nakoda College,8381.0,7777.0,7472.0,MT,1,1,1,1,-108.757816,48.484196,NaN,NaN,17030.0,17030.0,8510.0,8510.0,NaN,NaN,17030.0,17030.0,8510.0,8510.0,NaN,NaN,NaN,NaN,17030.0,17030.0,8510.0,8510.0,6497.0,NaN,NaN,17030.0,17030.0,8510.0,8510.0,NaN,NaN,17030.0,17030.0,8510.0,8510.0,NaN,NaN,17030.0,17030.0,8510.0,8510.0,1300.0,1300.0,1300.0,1300.0,1300.0,1300.0,1300.0,NaN
1,Abilene Christian University-Undergraduate Online,NaN,NaN,NaN,TX,2,1,1,1,-96.826833,32.977065,NaN,NaN,30670.0,30670.0,19042.0,19042.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1250.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Abraham Baldwin Agricultural College,7744.0,8106.0,6823.0,GA,1,1,1,2,-83.528281,31.481889,15727.0,22633.0,13965.0,20871.0,7765.0,14671.0,15575.0,22481.0,13865.0,20771.0,7665.0,14571.0,NaN,NaN,15479.0,22385.0,13865.0,20771.0,7665.0,14571.0,8123.0,15345.0,22083.0,13803.0,20541.0,7603.0,14341.0,15121.0,21859.0,13803.0,20541.0,7603.0,14341.0,15025.0,21632.0,14053.0,20660.0,7653.0,14260.0,1000.0,900.0,900.0,900.0,900.0,1000.0,1000.0,NaN
3,Academy College,NaN,NaN,NaN,MN,3,1,1,1,-93.299809,44.855722,NaN,NaN,38118.0,38118.0,29579.0,29579.0,NaN,NaN,38182.0,38182.0,29643.0,29643.0,23841.0,NaN,NaN,NaN,37509.0,37509.0,28970.0,28970.0,NaN,NaN,NaN,36902.0,36902.0,28363.0,28363.0,NaN,NaN,36902.0,36902.0,28363.0,28363.0,NaN,NaN,36650.0,36650.0,28111.0,28111.0,1685.0,1694.0,1269.0,1452.0,1452.0,1452.0,1452.0,NaN
4,Academy of Interactive Entertainment,NaN,NaN,NaN,LA,5,2,1,1,-92.043315,30.220037,NaN,NaN,36621.0,36621.0,27513.0,27513.0,NaN,NaN,37522.0,37522.0,27142.0,27142.0,23807.0,24970.0,NaN,NaN,36522.0,36522.0,26142.0,26142.0,NaN,NaN,NaN,34113.0,34113.0,26769.0,26769.0,NaN,NaN,31113.0,31113.0,23769.0,23769.0,NaN,NaN,34580.0,34580.0,20550.0,20550.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
5,Advanced Technology Institute,NaN,NaN,NaN,VA,6,2,1,1,-76.182268,36.841381,NaN,NaN,25933.0,25933.0,17263.0,17263.0,NaN,NaN,25656.0,25656.0,16986.0,16986.0,18999.0,19435.0,NaN,NaN,25656.0,25656.0,16986.0,16986.0,NaN,NaN,NaN,25656.0,25656.0,16986.0,16986.0,NaN,NaN,25706.0,25706.0,17036.0,17036.0,NaN,NaN,25610.0,25610.0,17360.0,17360.0,480.0,480.0,480.0,480.0,480.0,480.0,450.0,NaN
6,Agape College of Business and Science,NaN,NaN,NaN,CA,5,2,1,1,-119.787874,36.741252,NaN,NaN,27396.0,27396.0,9868.0,9868.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1163.0,1163.0,1083.0,1083.0,NaN,NaN,NaN,NaN
7,Aiken Technical College,4033.0,4362.0,3525.0,SC,4,2,1,2,-81.841666,33.533833,NaN,NaN,16956.0,18530.0,10206.0,11780.0,NaN,NaN,16956.0,18530.0,10206.0,11780.0,NaN,NaN,NaN,NaN,16836.0,18530.0,10086.0,11780.0,3411.0,NaN,NaN,13116.0,14950.0,9516.0,11350.0,NaN,NaN,13028.0,15030.0,8828.0,10830.0,NaN,NaN,12308.0,14234.0,8708.0,10634.0,1500.0,1500.0,1500.0,1000.0,1000.0,1000.0,1000.0,NaN
8,Aims Community College,8058.0,7189.0,6812.0,CO,4,2,1,3,-104.763415,40.409559,NaN,NaN,21446.0,29102.0,9574.0,17230.0,NaN,NaN,21446.0,29102.0,9493.0,17149.0,NaN,NaN,NaN,NaN,20134.0,27790.0,9493.0,17149.0,6216.0,NaN,NaN,19819.0,27487.0,9333.0,17001.0,NaN,NaN,19819.0,27487.0,9333.0,17001.0,NaN,NaN,18055.0,25723.0,8929.0,16597.0,1475.0,1475.0,1475.0,1475.0,1475.0,1475.0,1475.0,NaN
9,Alamance Community College,17040.0,15521.0,16225.0,NC,4,2,1,2,-79.357657,36.066683,NaN,NaN,26901.0,33045.0,16419.0,22563.0,NaN,NaN,32421.0,38565.0,16971.0,23115.0,NaN,NaN,NaN,NaN,29403.0,33939.0,16457.0,20993.0,9612.0,NaN,NaN,26131.0,31123.0,17551.0,22543.0,NaN,NaN,21128.0,26120.0,11411.0,16403.0,NaN,NaN,22800.0,28680.0,13393.0,19273.0,4456.0,2960.0,3114.0,4286.0,2615.0,3929.0,2874.0,NaN

In [ ]:
edu_clean_df = edu_clean_df.rename(columns={"Average net price-students awarded grant or scholarship aid  2020-21" : "Avg FAid 2020",
                                     "Average net price-students awarded grant or scholarship aid  2019-20" : "Avg FAid 2019",
                                     "Average net price-students awarded grant or scholarship aid  2018-19" : "Avg FAid 2018",
                                     "Total price for out-of-state students living on campus 2021-22" : "Cost Out-State On Campus 2021",
                                     "Total price for in-state students living on campus 2021-22" : "Cost In-State On Campus 2021",
                                     "Total price for in-state students living off campus (not with family)  2021-22" : "Cost In-State Off Campus With Fam 2021",
                                     "Total price for out-of-state students living off campus (not with family)  2021-22" : "Cost Out-State Off Campus With Fam 2021",
                                     "Total price for in-state students living off campus (with family)  2021-22" : "Cost In-State Off Campus With Fam",
                                     "Total price for out-of-state students living off campus (with family)  2021-22" : "Cost Out-State Off Campus With Fam",
                                     "Total price for in-state students living on campus 2020-21" : "Cost In-State On Campus 2020",
                                     "Total price for out-of-state students living on campus 2020-21" : "Cost Out-State On Campus 2020",
                                     "Total price for in-state students living off campus (not with family)  2020-21" : "Cost In-State Off Campus Not With Fam 2020",
                                     "Total price for out-of-state students living off campus (not with family)  2020-21" : "Cost Out-State Off Campus Not With Fam 2020",
                                     "Total price for in-state students living off campus (with family)  2020-21" : "Cost In-State Off Campus With Fam 2020",
                                     "Total price for out-of-state students living off campus (with family)  2020-21" : "Cost Out-State Off Campus With Fam 2020",
                                     "Average net price-students awarded grant or scholarship aid  2017-18" : "Avg Net Student Aid or Scholarship 2017",
                                     "Average net price-students awarded grant or scholarship aid 2016-17" : "Avg Net Student Aid or Scholarship 2016",
                                     "Total price for in-state students living on campus 2019-20" : "Cost In-State On Campus 2019",
                                     "Total price for out-of-state students living on campus 2019-20" : "Cost Out-State On Campus 2019",
                                     "Total price for in-state students living off campus (not with family) 2019-20" : "Cost In-State Off Campus Not With Fam 2019",
                                     "Total price for out-of-state students living off campus (not with family) 2019-20" : "Cost Out-State Off Campus Not With Fam 2019",
                                     "Total price for in-state students living off campus (with family) 2019-20" : "Cost In-State Off Campus With Fam 2019",
                                     "Total price for out-of-state students living off campus (with family) 2019-20" : "Cost Out-State Off Campus With Fam 2019",
                                     "Average net price-students awarded grant or scholarship aid 2015-16" : "Avg Net Student Aid or Scholarship 2015",
                                     "Total price for in-state students living on campus 2018-19" : "Cost In-State On Campus 2018",
                                     "Total price for out-of-state students living on campus 2018-19" : "Cost Out-State On Campus 2018",
                                     "Total price for in-state students living off campus (not with family) 2018-19" : "Cost In-State Off Campus Not With Fam 2018",
                                     "Total price for out-of-state students living off campus (not with family) 2018-19" : "Cost Out-State Off Campus Not With Fam 2018",
                                     "Total price for in-state students living off campus (with family) 2018-19" : "Cost In-State Off Campus With Fam 2018",
                                     "Total price for out-of-state students living off campus (with family) 2018-19" : "Cost Out-State Off Campus With Fam 2018",
                                     "Total price for in-state students living on campus 2017-18" : "Cost In-State On Campus 2017",
                                     "Total price for out-of-state students living on campus 2017-18" : "Cost Out-State On Campus 2017",
                                     "Total price for in-state students living off campus (not with family) 2017-18" : "Cost In-State Off Campus Not With Fam 2017",
                                     "Total price for out-of-state students living off campus (not with family) 2017-18" : "Cost Out-State Off Campus Not With Fam 2017",
                                     "Total price for in-state students living off campus (with family) 2017-18" : "Cost In-State Off Campus With Fam 2017",
                                     "Total price for out-of-state students living off campus (with family) 2017-18" : "Cost Out-State Off Campus 2017",
                                     "Total price for in-state students living on campus 2016-17" : "Cost In-State On Campus 2016",
                                     "Total price for out-of-state students living on campus 2016-17" : "Cost Out-State On Campus 2016",
                                     "Total price for in-state students living off campus (not with family) 2016-17" : "Cost In-State Off Campus Not With 2016",
                                     "Total price for out-of-state students living off campus (not with family) 2016-17" : "Cost Out-State Off Campus Not With Fam 2016",
                                     "Total price for in-state students living off campus (with family) 2016-17" : "Cost In-State Off Campus With Fam 2016",
                                     "Total price for out-of-state students living off campus (with family) 2016-17" : "Cost Out-State Off Campus With Fam 2016",
                                     "Books and supplies 2021-22" : "Books/Supplies 2021",
                                     "Books and supplies 2020-21" : "Books/Supplies 2020",
                                     "Books and supplies 2019-20" : "Books/Supplies 2019",
                                     "Books and supplies 2018-19" : "Books/Supplies 2018",
                                     "Books and supplies 2017-18" : "Books/Supplies 2017",
                                     "Books and supplies 2016-17" : "Books/Supplies 2016"}
                                     )
edu_clean_df.columns

Index(['Institution', 'Avg FAid 2020', 'Avg FAid 2019', 'Avg FAid 2018',
       'State abbreviation', 'Sector of institution', 'Level of institution',
       'Degree-granting status', 'Institution size category',
       'Longitude location of institution', 'Latitude location of institution',
       'Cost In-State On Campus 2021', 'Cost Out-State On Campus 2021',
       'Cost In-State Off Campus With Fam 2021',
       'Cost Out-State Off Campus With Fam 2021',
       'Cost In-State Off Campus With Fam',
       'Cost Out-State Off Campus With Fam', 'Cost In-State On Campus 2020',
       'Cost Out-State On Campus 2020',
       'Cost In-State Off Campus Not With Fam 2020',
       'Cost Out-State Off Campus Not With Fam 2020',
       'Cost In-State Off Campus With Fam 2020',
       'Cost Out-State Off Campus With Fam 2020',
       'Avg Net Student Aid or Scholarship 2017',
       'Avg Net Student Aid or Scholarship 2016',
       'Cost In-State On Campus 2019', 'Cost Out-State On Campus 2019',
       'Cost In-State Off Campus Not With Fam 2019',
       'Cost Out-State Off Campus Not With Fam 2019',
       'Cost In-State Off Campus With Fam 2019',
       'Cost Out-State Off Campus With Fam 2019',
       'Avg Net Student Aid or Scholarship 2015',
       'Cost In-State On Campus 2018', 'Cost Out-State On Campus 2018',
       'Cost In-State Off Campus Not With Fam 2018',
       'Cost Out-State Off Campus Not With Fam 2018',
       'Cost In-State Off Campus With Fam 2018',
       'Cost Out-State Off Campus With Fam 2018',
       'Cost In-State On Campus 2017', 'Cost Out-State On Campus 2017',
       'Cost In-State Off Campus Not With Fam 2017',
       'Cost Out-State Off Campus Not With Fam 2017',
       'Cost In-State Off Campus With Fam 2017',
       'Cost Out-State Off Campus 2017', 'Cost In-State On Campus 2016',
       'Cost Out-State On Campus 2016',
       'Cost In-State Off Campus Not With 2016',
       'Cost Out-State Off Campus Not With Fam 2016',
       'Cost In-State Off Campus With Fam 2016',
       'Cost Out-State Off Campus With Fam 2016', 'Books/Supplies 2021',
       'Books/Supplies 2020', 'Books/Supplies 2019', 'Books/Supplies 2018',
       'Books/Supplies 2017', 'Books/Supplies 2016',
       'Books and supplies 2015-16', 'Unnamed: 58'],
      dtype='object')

In [ ]:
edu_clean_df = edu_clean_df.fillna(0)
edu_clean_df.head(20)

,Institution,Avg FAid 2020,Avg FAid 2019,Avg FAid 2018,State abbreviation,Sector of institution,Level of institution,Degree-granting status,Institution size category,Longitude location of institution,Latitude location of institution,Cost In-State On Campus 2021,Cost Out-State On Campus 2021,Cost In-State Off Campus With Fam 2021,Cost Out-State Off Campus With Fam 2021,Cost In-State Off Campus With Fam,Cost Out-State Off Campus With Fam,Cost In-State On Campus 2020,Cost Out-State On Campus 2020,Cost In-State Off Campus Not With Fam 2020,Cost Out-State Off Campus Not With Fam 2020,Cost In-State Off Campus With Fam 2020,Cost Out-State Off Campus With Fam 2020,Avg Net Student Aid or Scholarship 2017,Avg Net Student Aid or Scholarship 2016,Cost In-State On Campus 2019,Cost Out-State On Campus 2019,Cost In-State Off Campus Not With Fam 2019,Cost Out-State Off Campus Not With Fam 2019,Cost In-State Off Campus With Fam 2019,Cost Out-State Off Campus With Fam 2019,Avg Net Student Aid or Scholarship 2015,Cost In-State On Campus 2018,Cost Out-State On Campus 2018,Cost In-State Off Campus Not With Fam 2018,Cost Out-State Off Campus Not With Fam 2018,Cost In-State Off Campus With Fam 2018,Cost Out-State Off Campus With Fam 2018,Cost In-State On Campus 2017,Cost Out-State On Campus 2017,Cost In-State Off Campus Not With Fam 2017,Cost Out-State Off Campus Not With Fam 2017,Cost In-State Off Campus With Fam 2017,Cost Out-State Off Campus 2017,Cost In-State On Campus 2016,Cost Out-State On Campus 2016,Cost In-State Off Campus Not With 2016,Cost Out-State Off Campus Not With Fam 2016,Cost In-State Off Campus With Fam 2016,Cost Out-State Off Campus With Fam 2016,Books/Supplies 2021,Books/Supplies 2020,Books/Supplies 2019,Books/Supplies 2018,Books/Supplies 2017,Books/Supplies 2016,Books and supplies 2015-16,Unnamed: 58
0,Aaniiih Nakoda College,8381.0,7777.0,7472.0,MT,1,1,1,1,-108.757816,48.484196,0.0,0.0,17030.0,17030.0,8510.0,8510.0,0.0,0.0,17030.0,17030.0,8510.0,8510.0,0.0,0.0,0.0,0.0,17030.0,17030.0,8510.0,8510.0,6497.0,0.0,0.0,17030.0,17030.0,8510.0,8510.0,0.0,0.0,17030.0,17030.0,8510.0,8510.0,0.0,0.0,17030.0,17030.0,8510.0,8510.0,1300.0,1300.0,1300.0,1300.0,1300.0,1300.0,1300.0,0.0
1,Abilene Christian University-Undergraduate Online,0.0,0.0,0.0,TX,2,1,1,1,-96.826833,32.977065,0.0,0.0,30670.0,30670.0,19042.0,19042.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1250.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Abraham Baldwin Agricultural College,7744.0,8106.0,6823.0,GA,1,1,1,2,-83.528281,31.481889,15727.0,22633.0,13965.0,20871.0,7765.0,14671.0,15575.0,22481.0,13865.0,20771.0,7665.0,14571.0,0.0,0.0,15479.0,22385.0,13865.0,20771.0,7665.0,14571.0,8123.0,15345.0,22083.0,13803.0,20541.0,7603.0,14341.0,15121.0,21859.0,13803.0,20541.0,7603.0,14341.0,15025.0,21632.0,14053.0,20660.0,7653.0,14260.0,1000.0,900.0,900.0,900.0,900.0,1000.0,1000.0,0.0
3,Academy College,0.0,0.0,0.0,MN,3,1,1,1,-93.299809,44.855722,0.0,0.0,38118.0,38118.0,29579.0,29579.0,0.0,0.0,38182.0,38182.0,29643.0,29643.0,23841.0,0.0,0.0,0.0,37509.0,37509.0,28970.0,28970.0,0.0,0.0,0.0,36902.0,36902.0,28363.0,28363.0,0.0,0.0,36902.0,36902.0,28363.0,28363.0,0.0,0.0,36650.0,36650.0,28111.0,28111.0,1685.0,1694.0,1269.0,1452.0,1452.0,1452.0,1452.0,0.0
4,Academy of Interactive Entertainment,0.0,0.0,0.0,LA,5,2,1,1,-92.043315,30.220037,0.0,0.0,36621.0,36621.0,27513.0,27513.0,0.0,0.0,37522.0,37522.0,27142.0,27142.0,23807.0,24970.0,0.0,0.0,36522.0,36522.0,26142.0,26142.0,0.0,0.0,0.0,34113.0,34113.0,26769.0,26769.0,0.0,0.0,31113.0,31113.0,23769.0,23769.0,0.0,0.0,34580.0,34580.0,20550.0,20550.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Advanced Technology Institute,0.0,0.0,0.0,VA,6,2,1,1,-76.182268,36.841381,0.0,0.0,25933.0,25933.0,17263.0,17263.0,0.0,0.0,25656.0,25656.0,16986.0,16986.0,18999.0,19435.0,0.0,0.0,25656.0,25656.0,16986.0,16986.0,0.0,0.0,0.0,25656.0,25656.0,16986.0,16986.0,0.0,0.0,25706.0,25706.0,17036.0,17036.0,0.0,0.0,25610.0,25610.0,17360.0,17360.0,480.0,480.0,480.0,480.0,480.0,480.0,450.0,0.0
6,Agape College of Business and Science,0.0,0.0,0.0,CA,5,2,1,1,-119.787874,36.741252,0.0,0.0,27396.0,27396.0,9868.0,9868.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1163.0,1163.0,1083.0,1083.0,0.0,0.0,0.0,0.0
7,Aiken Technical College,4033.0,4362.0,3525.0,SC,4,2,1,2,-81.841666,33.533833,0.0,0.0,16956.0,18530.0,10206.0,11780.0,0.0,0.0,16956.0,18530.0,10206.0,11780.0,0.0,0.0,0.0,0.0,16836.0,18530.0,10086.0,11780.0,3411.0,0.0,0.0,13116.0,14950.0,9516.0,11350.0,0.0,0.0,13028.0,15030.0,8828.0,10830.0,0.0,0.0,12308.0,14234.0,8708.0,10634.0,1500.0,1500.0,1500.0,1000.0,1000.0,1000.0,1000.0,0.0
8,Aims Community College,8058.0,7189.0,6812.0,CO,4,2,1,3,-104.763415,40.409559,0.0,0.0,21446.0,29102.0,9574.0,17230.0,0.0,0.0,21446.0,29102.0,9493.0,17149.0,0.0,0.0,0.0,0.0,20134.0,27790.0,9493.0,17149.0,6216.0,0.0,0.0,19819.0,27487.0,9333.0,17001.0,0.0,0.0,19819.0,27487.0,9333.0,17001.0,0.0,0.0,18055.0,25723.0,8929.0,16597.0,1475.0,1475.0,1475.0,1475.0,1475.0,1475.0,1475.0,0.0
9,Alamance Community College,17040.0,15521.0,16225.0,NC,4,2,1,2,-79.357657,36.066683,0.0,0.0,26901.0,33045.0,16419.0,22563.0,0.0,0.0,32421.0,38565.0,16971.0,23115.0,0.0,0.0,0.0,0.0,29403.0,33939.0,16457.0,20993.0,9612.0,0.0,0.0,26131.0,31123.0,17551.0,22543.0,0.0,0.0,21128.0,26120.0,11411.0,16403.0,0.0,0.0,22800.0,28680.0,13393.0,19273.0,4456.0,2960.0,3114.0,4286.0,2615.0,3929.0,2874.0,0.0
10,Alaska Bible College,0.0,0.0,0.0,AK,2,1,1,1,-149.111972,61.598553,20856.0,20856.0,26314.0,26314.0,16146.0,16146.0,19471.0,19471.0,25174.0,25174.0,15030.0,15030.0,19746.0,14477.0,20278.0,20278.0,25450.0,25450.0,14478.0,14478.0,0.0,19980.0,19980.0,25022.0,25022.0,14280.0,14280.0,19654.0,19654.0,24509.0,24509.0,13954.0,13954.0,19560.0,19560.0,24297.0,24297.0,13860.0,13860.0,400.0,400.0,400.0,600.0,600.0,600.0,600.0,0.0
11,Alaska Christian College,0.0,0.0,0.0,AK,5,2,1,1,-151.136005,60.490459,22344.0,22344.0,23491.0,23491.0,10994.0,10994.0,22344.0,22344.0,23491.0,23491.0,10994.0,10994.0,6962.0,4981.0,21969.0,21969.0,23291.0,23291.0,10794.0,10794.0,0.0,21594.0,21594.0,23091.0,23091.0,10594.0,10594.0,20544.0,20544.0,22291.0,22291.0,9794.0,9794.0,20094.0,20094.0,22091.0,22091.0,9594.0,9594.0,80.0,80.0,80.0,80.0,80.0,80.0,80.0,0.0
12,Albany Technical College,7844.0,479.0,88.0,GA,4,2,1,2,-84.174284,31.554340,0.0,0.0,14251.0,16651.0,9220.0,11620.0,0.0,0.0,17113.0,19513.0,10133.0,12533.0,0.0,0.0,0.0,0.0,9993.0,12393.0,5343.0,7743.0,449.0,0.0,0.0,9709.0,11845.0,5059.0,7195.0,0.0,0.0,9709.0,11845.0,5059.0,7195.0,0.0,0.0,9225.0,11365.0,4997.0,7137.0,410.0,694.0,800.0,800.0,800.0,800.0,800.0,0.0
13,Albion College,0.0,0.0,0.0,MI,2,1,1,2,-84.745639,42.245049,66970.0,66970.0,66970.0,66970.0,55090.0,55090.0,64655.0,64655.0,64655.0,64655.0,52775.0,52775.0,17663.0,19913.0,62155.0,62155.0,62155.0,62155.0,50275.0,50275.0,0.0,59470.0,59470.0,59470.0,59470.0,47590.0,47590.0,56750.0,56750.0,56750.0,56750.0,45020.0,45020.0,54150.0,54150.0,54150.0,54150.0,42860.0,42860.0,700.0,700.0,700.0,700.0,700.0,700.0,800.0,0.0
14,Alexandria Technical & Community College,13189.0,12976.0,13175.0,MN,4,2,1,2,-95.372369,45.873107,0.0,0.0,19768.0,19768.0,14306.0,14306.0,0.0,0.0,19453.0,19453.0,14045.0,14045.0,0.0,0.0,0.0,0.0,19065.0,19065.0,13865.0,13865.0,13235.0,0.0,0.0,18916.0,18916.0,13716.0,13716.0,0.0,0.0,18910.0,18910.0,13710.0,13710.0,0.0,0.0,18858.0,18858.0,13658.0,13658.0,1200.0,1200.0,1200.0,1200.0,1200.0,1200.0,1200.0,0.0
15,Alice Lloyd College,0.0,0.0,0.0,KY,2,1,1,1,-82.875068,37.335087,28120.0,28120.0,24480.0,24480.0,20630.0,20630.0,28120.0,28120.0,24480.0,24480.0,20630.0,20630.0,15120.0,14075.0,25890.0,25890.0,22480.0,22480.0,18630.0,18630.0,0.0,24290.0,24290.0,21800.0,21800.0,17950.0,17950.0,24290.0,24290.0,21800.0,21800.0,17950.0,17950.0,24290.0,24290.0,21800.0,21800.0,17950.0,17950.0,1400.0,1400.0,1400.0,1400.0,1400.0,1400.0,1500.0,0.0
16,Allan Hancock College,6629.0,5520.0,6225.0,CA,4,2,1,3,-120.421144,34.943716,0.0,0.0,23285.0,29981.0,7032.0,13728.0,0.0,0.0,23011.0,29305.0,6431.0,12725.0,0.0,0.0,0.0,0.0,22403.0,28555.0,7319.0,13471.0,5387.0,0.0,0.0,21296.0,26728.0,7517.0,12949.0,0.0,0.0,20732.0,26164.0,7580.0,13012.0,0.0,0.0,18734.0,24138.0,7358.0,12762.0,1125.0,1971.0,1971.0,1917.0,1854.0,1746.0,1746.0,0.0
17,Allegany College of Maryland,8472.0,9772.0,9155.0,MD,4,2,1,2,-78.730398,39.652152,24480.0,26490.0,24480.0,26490.0,13680.0,15690.0,24434.0,26444.0,24434.0,26444.0,13634.0,15644.0,0.0,0.0,24224.0,26144.0,24224.0,26144.0,13424.0,15344.0,9804.0,23636.0,25346.0,23636.0,25346.0,12836.0,14546.0,23144.0,24524.0,23144.0,24524.0,12404.0,13784.0,22738.0,24088.0,22738.0,24088.0,11998.0,13348.0,1540.0,1484.0,1540.0,1540.0,1624.0,1512.0,1428.0,0.0
18,Allegheny College,0.0,0.0,0.0,PA,2,1,1,2,-80.147168,41.648690,69450.0,69450.0,66950.0,66950.0,56030.0,56030.0,67560.0,67560.0,63560.0,63560.0,54480.0,54480.0,25880.0,25415.0,65400.0,65400.0,62900.0,62900.0,52760.0,52760.0,0.0,63180.0,63180.0,60680.0,60680.0,51040.0,51040.0,61120.0,61120.0,58620.0,58620.0,49470.0,49470.0,58920.0,58920.0,56420.0,56420.0,47750.0,47750.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,0.0
19,Allegheny Wesleyan College,0.0,0.0,0.0,OH,2,1,1,1,-80.861232,40.867220,14612.0,14612.0,15270.0,15270.0,11220.0,11220.0,14612.0,14612.0,15270.0,15270.0,11220.0,11220.0,8801.0,5450.0,14412.0,14412.0,13340.0,13340.0,10860.0,10860.0,0.0,14412.0,14412.0,13340.0,13340.0,10860.0,10860.0,12412.0,12412.0,11340.0,11340.0,8860.0,8860.0,12412.0,12412.0,11340.0,11340.0,8860.0,8860.0,800.0,800.0,800.0,800.0,800.0,800.0,800.0,0.0

In [ ]:
school_types = edu_clean_df.set_index(["Institution"])["State abbreviation"]
school_types

Institution
Aaniiih Nakoda College                               MT
Abilene Christian University-Undergraduate Online    TX
Abraham Baldwin Agricultural College                 GA
Academy College                                      MN
Academy of Interactive Entertainment                 LA
                                                     ..
York County Community College                        ME
York Technical College                               SC
Young Americans College of the Performing Arts       CA
Yuba College                                         CA
Zane State College                                   OH
Name: State abbreviation, Length: 1559, dtype: object

In [ ]:
edu_clean_df["Year"] = ""
edu_clean_df

,Institution,Avg FAid 2020,Avg FAid 2019,Avg FAid 2018,State abbreviation,Sector of institution,Level of institution,Degree-granting status,Institution size category,Longitude location of institution,Latitude location of institution,Cost In-State On Campus 2021,Cost Out-State On Campus 2021,Cost In-State Off Campus With Fam 2021,Cost Out-State Off Campus With Fam 2021,Cost In-State Off Campus With Fam,Cost Out-State Off Campus With Fam,Cost In-State On Campus 2020,Cost Out-State On Campus 2020,Cost In-State Off Campus Not With Fam 2020,Cost Out-State Off Campus Not With Fam 2020,Cost In-State Off Campus With Fam 2020,Cost Out-State Off Campus With Fam 2020,Avg Net Student Aid or Scholarship 2017,Avg Net Student Aid or Scholarship 2016,Cost In-State On Campus 2019,Cost Out-State On Campus 2019,Cost In-State Off Campus Not With Fam 2019,Cost Out-State Off Campus Not With Fam 2019,Cost In-State Off Campus With Fam 2019,Cost Out-State Off Campus With Fam 2019,Avg Net Student Aid or Scholarship 2015,Cost In-State On Campus 2018,Cost Out-State On Campus 2018,Cost In-State Off Campus Not With Fam 2018,Cost Out-State Off Campus Not With Fam 2018,Cost In-State Off Campus With Fam 2018,Cost Out-State Off Campus With Fam 2018,Cost In-State On Campus 2017,Cost Out-State On Campus 2017,Cost In-State Off Campus Not With Fam 2017,Cost Out-State Off Campus Not With Fam 2017,Cost In-State Off Campus With Fam 2017,Cost Out-State Off Campus 2017,Cost In-State On Campus 2016,Cost Out-State On Campus 2016,Cost In-State Off Campus Not With 2016,Cost Out-State Off Campus Not With Fam 2016,Cost In-State Off Campus With Fam 2016,Cost Out-State Off Campus With Fam 2016,Books/Supplies 2021,Books/Supplies 2020,Books/Supplies 2019,Books/Supplies 2018,Books/Supplies 2017,Books/Supplies 2016,Books and supplies 2015-16,Unnamed: 58,Year
0,Aaniiih Nakoda College,8381.0,7777.0,7472.0,MT,1,1,1,1,-108.757816,48.484196,0.0,0.0,17030.0,17030.0,8510.0,8510.0,0.0,0.0,17030.0,17030.0,8510.0,8510.0,0.0,0.0,0.0,0.0,17030.0,17030.0,8510.0,8510.0,6497.0,0.0,0.0,17030.0,17030.0,8510.0,8510.0,0.0,0.0,17030.0,17030.0,8510.0,8510.0,0.0,0.0,17030.0,17030.0,8510.0,8510.0,1300.0,1300.0,1300.0,1300.0,1300.0,1300.0,1300.0,0.0,
1,Abilene Christian University-Undergraduate Online,0.0,0.0,0.0,TX,2,1,1,1,-96.826833,32.977065,0.0,0.0,30670.0,30670.0,19042.0,19042.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1250.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,
2,Abraham Baldwin Agricultural College,7744.0,8106.0,6823.0,GA,1,1,1,2,-83.528281,31.481889,15727.0,22633.0,13965.0,20871.0,7765.0,14671.0,15575.0,22481.0,13865.0,20771.0,7665.0,14571.0,0.0,0.0,15479.0,22385.0,13865.0,20771.0,7665.0,14571.0,8123.0,15345.0,22083.0,13803.0,20541.0,7603.0,14341.0,15121.0,21859.0,13803.0,20541.0,7603.0,14341.0,15025.0,21632.0,14053.0,20660.0,7653.0,14260.0,1000.0,900.0,900.0,900.0,900.0,1000.0,1000.0,0.0,
3,Academy College,0.0,0.0,0.0,MN,3,1,1,1,-93.299809,44.855722,0.0,0.0,38118.0,38118.0,29579.0,29579.0,0.0,0.0,38182.0,38182.0,29643.0,29643.0,23841.0,0.0,0.0,0.0,37509.0,37509.0,28970.0,28970.0,0.0,0.0,0.0,36902.0,36902.0,28363.0,28363.0,0.0,0.0,36902.0,36902.0,28363.0,28363.0,0.0,0.0,36650.0,36650.0,28111.0,28111.0,1685.0,1694.0,1269.0,1452.0,1452.0,1452.0,1452.0,0.0,
4,Academy of Interactive Entertainment,0.0,0.0,0.0,LA,5,2,1,1,-92.043315,30.220037,0.0,0.0,36621.0,36621.0,27513.0,27513.0,0.0,0.0,37522.0,37522.0,27142.0,27142.0,23807.0,24970.0,0.0,0.0,36522.0,36522.0,26142.0,26142.0,0.0,0.0,0.0,34113.0,34113.0,26769.0,26769.0,0.0,0.0,31113.0,31113.0,23769.0,23769.0,0.0,0.0,34580.0,34580.0,20550.0,20550.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1554,York County Community College,11071.0,8730.0,8456.0,ME,4,2,1,2,-70.590783,43.306797,0.0,0.0,19050.0,21930.0,8798.0,11678.0,0.0,0.0,18904.0,21784.0,8652.0,11532.0,0.0,0.0,0.0,0.0,18530.0,21350.0,8380.0,11200.0,8534.0,0.0,0.0,18530.0,21350.0,10640.0,13460.0,0.0,0.0,18470.0,21230.0,10580.0,13340.0,0.0,0.0,17500.0,20260.0,10760.0,13520.0,1400.0,1400.0,1400.0,1400.0,1400.0,1360.0,1350.0,0.0,
1555,York Technical College,6915.0,7870.0,6655.0,SC,4,2,1,2,-80.995273,34.934416,0.0,0.0,22630.0,27574.0,13630.0,18574.0,0.0,0.0,22615.0,27559.0,13615.0,18559.0,0.0,0.0,0.0,0.0,22585.0,27529.0,13585.0,18529.0,8656.0,0.0,0.0,22397.0,27197.0,13397.0,18197.0,0.0,0.0,22037.0,26861.0,13037.0,17861.0,0.0,0.0,22044.0,26868.0,13044.0,17868.0,1800.0,1800.0,1800.0,1800.0,1800.0,1800.0,1800.0,0.0,
1556,Young Americans College of the Performing Arts,0.0,0.0,0.0,CA,5,2,1,1,-117.542501,33.859246,0.0,0.0,24778.0,24778.0,17109.0,17109.0,0.0,0.0,24778.0,24778.0,17109.0,17109.0,20681.0,22042.0,36614.0,36614.0,36614.0,36614.0,19728.0,19728.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,0.0,0.0,
1557,Yuba College,5503.0,7123.0,5825.0,CA,4,2,1,3,-121.539640,39.126536,0.0,0.0,23430.0,29790.0,6371.0,12731.0,0.0,0.0,23430.0,29790.0,6371.0,12731.0,0.0,0.0,0.0,0.0,23453.0,29813.0,7793.0,14153.0,5928.0,0.0,0.0,21068.0,26348.0,7406.0,12686.0,0.0,0.0,20510.0,25670.0,7352.0,12512.0,0.0,0.0,19585.0,24745.0,7219.0,12379.0,1080.0,1080.0,1971.0,1917.0,1854.0,1791.0,1764.0,0.0,
1558,Zane State College,7009.0,6300.0,6385.0,OH,1,1,1,2,-82.031198,39.962410,0.0,0.0,16081.0,21391.0,11137.0,16447.0,0.0,0.0,16021.0,21181.0,11125.0,16285.0,0.0,0.0,0.0,0.0,14764.0,19924.0,10200.0,15360.0,7985.0,0.0,0.0,14764.0,19624.0,10200.0,15060.0,0.0,0.0,14254.0,18814.0,9690.0,14250.0,0.0,0.0,16190.0,20750.0,11002.0,15562.0,1600.0,1600.0,1600.0,1600.0,1600.0,1600.0,1600.0,0.0,